.home {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.singleItem {
  flex: 1;
  width: 250px;
  height: 350px;
  outline: none;
  margin: 1.5rem 0;
}

.singleItem:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.singleItem img {
  width: 100%;
  height: 75%;
  margin-bottom: 1.5rem;
}

.singleItem p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: black;
}

.home__header {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.page,
.sortBy {
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  font-family: var(--font-family);
  font-weight: 300;
  font-size: 15px;
}

.sortBy {
  justify-content: flex-start;
}

.page button,
.page p {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page button {
  border: 1px solid black;
}
.page p {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.sortBy select {
  border: none;
  padding: 0.5rem;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 17px;
}
@media screen and (max-width: 785px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .singleItem {
    width: 375px;
  }
}

@media screen and (max-width: 460px) {
  .home {
    min-width: 369px;
    gap: 0.5rem;
  }
  .singleItem {
    width: 100%;
    margin: 1rem 0;
  }

  .singleItem img {
    min-width: 369px;
  }
  .home__header {
    min-width: 369px;
  }
}
