.footer {
  background: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer__container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
}

.footer-social {
  justify-content: center;
}

.footer-social p {
  padding: 1rem;
}
