.password__container h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 33px;
  line-height: 20px;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.password__container section {
  margin: 1rem auto;
  min-width: 360px;
  padding: 1.5rem;
  font-family: var(--font-family);
  font-weight: 500;
  background-color: var(--background-color);
  line-height: 20px;
}

.password__container section h4 {
  margin-bottom: 2rem;
}

.password__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 75%;
  gap: 1rem;
  margin: 2rem auto 0;
}

.password__buttons button {
  padding: 0.7rem 0;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
}

.password__error {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  color: #f00;
  padding: 0;
  margin-top: -0.7rem;
}

.password__buttons button:hover {
  opacity: 0.7;
}

.black {
  color: #fff;
  background-color: #000;
}

.white {
  color: #000;
  background-color: #fff;
  border: 0.5px solid black;
}

@media screen and (max-width: 1050px) {
  .password__buttons {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .password__container h1 {
    font-size: 29px;
  }

  .password__container section {
    padding: 1rem 0.5rem;
  }
}
