.header {
  max-width: 1800px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
}

.header__navbar-container {
  flex: 1;
  display: none;
  flex-direction: row;
  align-items: center;
  height: 47px;
  gap: 1rem;
}
.header__navbar-menu {
  position: relative;
}
.header__navbar-menu_icons {
  cursor: pointer;
}

.header__navbar-menu_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  background-color: rgb(246, 246, 241);
  text-align: start;
  padding: 1rem;
  position: absolute;
  top: 40px;
  margin-top: 0.3rem;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0, 0, 5 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header__navbar-menu_container p {
  padding: 0.75rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.header__icons {
  padding: 0.3rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.header__icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.header__icons-container p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  margin-left: 5px;
  text-transform: capitalize;
}

.header__checkout {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 180px;
  cursor: pointer;
}
.header__checkout p {
  padding-left: 0.5rem;
}
.header__checkout:hover {
  text-decoration: underline;
}
#checkout {
  width: 100%;
}
.checkout__logo span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.checkout__logo p:first-child {
  transform: rotate(-35deg);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  color: rgb(255, 55, 0);
}

.checkout__logo p:last-child {
  display: flex;
  font-size: 10px;
  padding-top: 35px;
  color: orangered;
}
.header__small-logo {
  align-self: center;
  margin-top: 25px;
}
.header__logo span,
.header__small-logo span {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.header__logo p:first-child,
.header__small-logo p:first-child {
  transform: rotate(-35deg);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 100px;
  color: rgb(255, 55, 0);
  z-index: -1;
}

.header__logo p:last-child,
.header__small-logo p:last-child {
  display: flex;
  font-size: 10px;
  padding-top: 85px;
  padding-right: 10px;
  color: orangered;
}

.header__small-logo p:first-child {
  font-size: 32px;
}

.header__small-logo p:last-child {
  font-size: 5.8px;
  padding-top: 24px;
}

.header__categories {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.header__categories p {
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  padding: 1rem;
}

.header__categories p:hover {
  text-decoration: underline;
}

.header__categories p:active {
  color: orangered;
}

.header__basket-hover {
  top: 63px;
  right: 10px;
  min-width: 285px;
}

.header__sign-hover {
  padding: 0.5rem 1rem;
  top: 63px;
  right: 5rem;
  min-width: 250px;
}

.header__search-hover {
  top: 68px;
  right: 8px;
  min-width: 355px;
  padding: 0;
}

@media screen and (max-width: 1050px) {
  .header__icons-container p {
    display: none;
  }

  .header__navbar-container {
    display: flex;
  }

  .header__logo,
  .header__categories {
    display: none;
  }
  .header__sign-hover {
    right: 0.5rem;
    top: 64px;
  }

  .header__search-hover {
    min-width: 250px;
  }
  .header__basket-hover {
    min-width: auto;
  }
}

@media screen and (max-width: 760px) {
  .header__sign-hover {
    min-width: 180px;
  }
}

@media screen and (max-width: 700px) {
  .header__basket-hover {
    display: none;
  }
  .header__search-hover {
    right: 8px;
  }
}

@media screen and (max-width: 650px) {
  .checkout__logo span {
    margin-top: 1rem;
    height: 70px;
  }
  .checkout__logo p:first-child {
    padding-top: 1rem;
  }
  .checkout__logo p:last-child {
    padding-top: 50px;
  }
}

@media screen and (max-width: 650px) {
  .header__sign-hover {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .header__search-hover {
    right: 7px;
  }
  .header {
    min-width: 369px;
  }
}

@media screen and (max-width: 350px) {
  .checkout__logo {
    min-width: 340px;
  }
  .header__search-hover {
    right: 0px;
  }
}
